body {
  background-color:#ffffff;
}




p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.headbox {
  background-color: #e9cb20;
  padding: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.sidebar {
  background-color: #666666;
  color: #ffffff;
  width: 400px;
  float: right;
  margin-top: 20px;
  margin-left: 20px;
}